<!-- parent div -->
<div
  class="flex h-full flex-col items-center justify-center bg-primary-teal-green"
>
  <!-- h1 div -->
  <div class="w-2/3 pb-10 pt-20 lg:cursor-pointer">
    <h1
      class="rounded-3xl bg-primary-teal-green text-center font-spartan text-3xl font-bold text-primary-purple shadow-xl transition duration-700 ease-in-out hover:-translate-y-1 hover:text-purple-500 hover:shadow-purple-500 lg:text-5xl"
    >
      My projects
    </h1>
  </div>
  <!-- parent projects container -->
  <div class="flex w-5/6 bg-red-300 p-2">
    <!-- each project container -->
    <div class="flex h-auto flex-col rounded-2xl lg:flex-row">
      <!-- image div -->
      <div class="">
        <img
          src="assets/images/project1pic.png"
          class="h-auto w-auto rounded-2xl object-cover"
        />
      </div>
      <!-- textbox div -->
      <div class="w-full lg:w-3/4">
        <!-- h1 and discription div container -->
        <div>
          <h1>cleaning website</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sunt
            cum voluptatem labore dignissimos? Eaque pariatur provident nam
            assumenda cupiditate! Voluptatem neque omnis dolores ipsum labore
            libero suscipit architecto quo!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
