<div class="w-full bg-cyan-700 font-spartan">
  <!-- h1 div -->
  <div class="w-full p-4 text-center text-5xl text-cyan-100 underline font-bold">
    <h1>About Me</h1>
  </div>
  <!-- about info container -->
  <div class="flex flex-col bg-cyan-500 rounded-lg w-5/6 mx-auto md:flex-row "
  @cardYanimation>
    <!-- image div -->
    <div class="w-full  md:w-2/5 items-center bg-cyan-800 mx-auto md:rounded-l-lg rounded-t-lg">
      <img src="../../../../assets/images/image1.png" alt="">
    </div>
    <!-- text div -->
    <div class="text-cyan-950  text-xl md:text-2xl sm:w-4/5 mx-auto  text-justify  sm:p-5 p-4 w-5/6">
      <h1 class="md:mt-32">My name is Michael Gichuhi a frontend developer based in Nairobi kenya.I have a deep love for technology and how they are used to solve problems. To fill my desire to learn about technology I started my self-taught journey on late 2020. During that period I learn basic html, css and javascipt. For While progress was made but quickly I dicovered the limitations of self-teaching so I opted to join a bootcamp in 2023 to bridge that gap. In the bootcamp is where I discovered how collaborations is done with in small teams and big companies. After graduating in the bootcamp ever since I have spending my days improving my craft and focusing on frontend development. I hope to work with you soon and contribute to your projects as well as improve them. I have much to learn and I have no plans in stopping.  </h1>
    </div>
  </div>
</div>
<app-contacts></app-contacts>
