<div class="bg-background">
  <div
    class="text-bold flex justify-center gap-4 rounded-md p-2 font-spartan text-2xl"
  >
    <a
      routerLink="/home"
      class="group relative hidden items-center justify-start overflow-hidden rounded-xl py-3 pl-4 pr-12 font-semibold text-text transition-all duration-150 ease-in-out hover:pl-10 hover:pr-6 md:inline-flex"
    >
      <span
        class="bg-primary-Fuchsia absolute bottom-0 left-0 h-1 w-full transition-all duration-150 ease-in-out group-hover:h-full"
      ></span>

      <span
        class="absolute left-0 -translate-x-12 pl-2.5 duration-200 ease-out group-hover:translate-x-0"
      >
        <fa-icon [icon]="faHome"></fa-icon>
      </span>
      <span
        class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-primary"
        >Home</span
      >
    </a>
    <a
      routerLink="/projects"
      class="group relative hidden items-center justify-start overflow-hidden rounded-xl py-3 pl-4 pr-12 font-semibold text-text transition-all duration-150 ease-in-out hover:pl-10 hover:pr-6 md:inline-flex"
    >
      <span
        class="bg-primary-Fuchsia absolute bottom-0 left-0 h-1 w-full transition-all duration-150 ease-in-out group-hover:h-full"
      ></span>

      <span
        class="absolute left-0 -translate-x-12 pl-2.5 duration-200 ease-out group-hover:translate-x-0"
      >
        <fa-icon [icon]="faLaptop"></fa-icon>
      </span>
      <span
        class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-primary"
        >Projects</span
      >
    </a>
    <a
      routerLink="/about"
      class="group relative hidden items-center justify-start overflow-hidden rounded-xl py-3 pl-4 pr-12 font-semibold text-text transition-all duration-150 ease-in-out hover:pl-10 hover:pr-6 md:inline-flex"
    >
      <span
        class="bg-primary-Fuchsia absolute bottom-0 left-0 h-1 w-full transition-all duration-150 ease-in-out group-hover:h-full"
      ></span>

      <span
        class="absolute left-0 -translate-x-12 pl-2.5 duration-200 ease-out group-hover:translate-x-0"
      >
        <fa-icon [icon]="faPerson"></fa-icon>
      </span>
      <span
        class="relative w-full text-left transition-colors duration-200 ease-in-out group-hover:text-primary"
        >About</span
      >
    </a>
  </div>
  <div class="flex md:hidden">
    <div
      class="mt-6 w-1/2 text-left font-spartan text-4xl font-semibold text-accent"
    >
      <a routerLink="/home" class="p-4"> Mike</a>
    </div>
    <div class="dropdown-end dropdown w-1/2 p-4 text-right">
      <button tabindex="0" class="btn m-1 bg-background text-text">
        <fa-icon [icon]="faBars"></fa-icon>
      </button>
      <ul
        tabindex="0"
        class="dropdown-content menu rounded-box z-[4] w-32 bg-primary p-2 text-accent shadow"
      >
        <li><a routerLink="/home"> Home</a></li>
        <li><a routerLink="/projects">Project</a></li>
        <li><a routerLink="/about">About</a></li>
      </ul>
    </div>
  </div>
</div>
