<!-- parent div -->
<div
  class="flex w-full flex-col items-center justify-center bg-primary-teal-green"
>
  <!-- title div -->
  <div class="w-2/3 pb-10 pt-20 lg:cursor-pointer">
    <h1
      class="rounded-3xl bg-primary-teal-green text-center font-spartan text-3xl font-bold text-primary-purple shadow-xl transition duration-700 ease-in-out hover:-translate-y-1 hover:text-purple-500 hover:shadow-purple-500 lg:text-5xl"
    >
      About Me
    </h1>
  </div>
  <!-- p tag div -->
  <div class="w-2/3 py-10">
    <p
      class="rounded-xl text-center font-spartan text-xl text-primary-soft-brown lg:text-3xl"
    >
      My web-developer skills will bring your ideas to life. I am passionate
      about creating beautiful UI(user interfaces) while not negleting UX(user
      experience). I am proficient in the following languages and frameworks
    </p>
  </div>
</div>
<app-technology-table></app-technology-table>
