<!-- parent div -->
<div class="w-full bg-background font-spartan">
    <!-- h1 div -->
    <div
        @cardYanimation
        class="p-4 text-center text-4xl font-bold text-text sm:text-4xl md:pt-8 md:text-5xl"
    >
        <h1>My techStack</h1>
    </div>
    <!-- text and teckstack container -->
    <div class="flex flex-col sm:flex-row">
        <!-- text container -->
        <div class="my-auto h-5/6 w-full sm:w-1/2">
            <h2
                class="mx-auto w-3/4 cursor-pointer rounded-3xl bg-primary bg-opacity-10 p-8 text-center text-2xl text-text shadow-xl sm:text-4xl"
            >
                Over the years I have learned several languages and frameworks.
                This library is still growing.
            </h2>
        </div>
        <!-- techStack container -->
        <div
            class="m-4 mt-12 grid grid-cols-4 gap-4 rounded-3xl bg-accent  cursor-pointer bg-opacity-10 p-4 shadow-lg sm:m-16 sm:mt-0 md:w-1/2 md:gap-8"
        >
            <!-- each tech div container -->
            <div
                *ngFor="let techStack of techStacks"
                class="rounded-lg text-center text-base sm:text-lg md:text-xl"
            >
                <img src="{{ techStack.icon }}" class="p-2" />
                <p class="p-1 text-center text-base text-text md:text-3xl">
                    {{ techStack.name }}
                </p>
            </div>
        </div>
    </div>
    <!-- button div -->
    <div
        class="mx-auto mt-12 sm:mt-24 flex w-4/5 flex-col rounded-3xl bg-text bg-opacity-10 p-8  sm:flex sm:w-1/2 shadow-xl "
    >
        <h1 class="px-6 py-4 text-left text-3xl text-text md:text-4xl">
            I have used what I have learned to build several projects
        </h1>
        <app-button [buttonText]="ButtonText" (buttonOnClick)="ProjectPage()" />
    </div>
</div>
