<div
    class="flex w-full content-center justify-center bg-background font-spartan"
>
    <!-- info div -->
    <div
        class="m-4 flex flex-col rounded-lg p-6 md:w-5/6 md:flex-row"
        @cardYanimation
    >
        <!-- image div -->
        <div class="w-4/5 sm:w-3/5 md:w-2/5">
            <img
                src="../../../../assets/images/image3.jpg"
                class="rounded-full p-2"
            />
        </div>
        <!-- text div -->
        <div class="text-justify text-2xl md:w-3/5 md:text-4xl">
            <h1 class="mt-10 text-text md:mt-40">
                Hey 👋 there am
                <span class="md:text-5xl text-3xl font-extrabold text-accent">
                    Michael </span
                >a<span class="text-3xl font-extrabold text-accent md:text-5xl">
                    frontend developer.</span
                >My love for technology and design has led me to be software
                developer.I can't wait to work with you soon.
            </h1>
            <!-- contact button -->
            <a
                routerLink="/contact"
                class="group relative mt-3 inline-flex items-center overflow-hidden rounded-xl bg-primary px-12 py-3 text-2xl font-medium text-text hover:bg-secondary md:text-4xl"
            >
                <span
                    class="duration-400 ease absolute left-0 top-1/2 block h-0 w-full bg-secondary opacity-100 transition-all group-hover:top-0 group-hover:h-full"
                ></span>
                <span
                    class="ease absolute right-0 flex h-10 w-10 translate-x-full transform items-center justify-start duration-300 group-hover:translate-x-0"
                >
                    <svg
                        class="h-5 w-5"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"
                        ></path>
                    </svg>
                </span>
                <span class="relative">Contact me</span>
            </a>
        </div>
    </div>
</div>
<app-technology-table></app-technology-table>
<app-contacts></app-contacts>
