<div class="w-full bg-background font-spartan" @fadeInAnimation>
    <!-- h1 div -->
    <div class="w-full p-4 text-center text-5xl font-bold text-text">
        <h1>Who am I?</h1>
    </div>
    <!-- about info container -->
    <div class="mx-auto flex w-5/6 flex-col rounded-lg shadow-lg md:flex-row p-4">
        <!-- image div -->
        <div class="mx-auto w-full items-center rounded-3xl md:w-2/5 bg-secondary p-16">
            <img src="../../../../assets/images/undrawquestion.svg" alt="" />
        </div>
        <!-- text div -->
        <div
            class="mx-auto w-5/6 rounded-md p-4  text-xl text-text sm:w-4/5 sm:p-5 md:text-4xl"
        >
            <h1
                class="text-clip rounded-3xl bg-primary bg-opacity-10 p-8 md:mt-32 "
            >
                Michael Gichuhi is a frontend engineer. Who specialize in
                building responsive web application and while implementing CI/CD
                pipelines for smooth development cycles. He acquired his skills
                by self teaching and through some online classes . Communication
                is vital to him when working in any team.He spends his time
                learning, practicing and researching way to improve his skills.
            </h1>
        </div>
    </div>
</div>
<app-contacts></app-contacts>
