<div class="w-full bg-background font-spartan">
    <!-- h1 div -->
    <div class="w-full p-4 text-center text-5xl font-bold text-text underline">
        <h1>About Me</h1>
    </div>
    <!-- about info container -->
    <div
        class="mx-auto flex w-5/6 flex-col rounded-lg shadow-md md:flex-row"
        @fadeInAnimation
    >
        <!-- image div -->
        <div class="mx-auto w-full items-center rounded-md md:w-2/5">
            <img src="../../../../assets/images/image1.png" alt="" />
        </div>
        <!-- text div -->
        <div
            class="mx-auto w-5/6 rounded-md p-4 text-center text-2xl text-text sm:w-4/5 sm:p-5 md:text-4xl"
        >
            <h1 class="text-clip rounded-md bg-primary p-2 md:mt-32">
                I am frontend developer.My experience working with react and
                Angular make me a great asset to your team.Further more I
                quickly adapt to any work enviroment.I can't wait to work with
                you.
            </h1>
        </div>
    </div>
</div>
<app-contacts></app-contacts>
