<!-- parent div -->
<div
    class="min-h-fit w-full bg-background font-spartan md:relative md:min-h-full"
>
    <!-- h1 div -->
    <div
        @cardYanimation
        class="p-4 text-center text-3xl font-bold text-text underline sm:text-4xl md:pt-8 md:text-5xl"
    >
        <h1>My techStack</h1>
    </div>
    <!-- techStack container -->
    <div class="mx-auto grid grid-cols-4 gap-4 p-3 md:w-1/2 md:gap-8">
        <!-- each tech div container -->
        <div
            @cardXanimation
            *ngFor="let techStack of techStacks"
            class="rounded-lg text-center text-base sm:text-lg md:text-xl"
        >
            <img src="{{ techStack.icon }}" class="p-2" />
            <p class="p-1 text-center text-base text-text md:text-3xl">
                {{ techStack.name }}
            </p>
        </div>
    </div>

    <!-- button div -->
    <div class="mx-12 flex pt-20 sm:mx-auto sm:w-1/2">
        <h1
            class="px-6 py-4 text-left text-3xl font-semibold text-text md:text-4xl"
        >
            See
        </h1>
        <app-button [buttonText]="ButtonText" (buttonOnClick)="ProjectPage()" />
    </div>
</div>
