<!-- parent div -->
<div
    class="flex min-h-screen items-center justify-center bg-background pt-5 font-spartan sm:pt-16"
    id="contact-me"
>
    <!-- contact div container -->
    <div
        class="flex w-5/6 flex-col space-y-6 rounded-2xl pb-5 shadow-lg sm:p-12 md:w-5/6 md:flex-row md:space-x-6 md:space-y-0"
    >
        <!-- contact info div container -->
        <div class="flex flex-col justify-between space-y-8 p-4">
            <div>
                <h1
                    class="text-3xl font-bold tracking-wide text-text lg:text-5xl"
                >
                    Contact Me
                </h1>
                <p class="p-2 text-2xl text-text md:text-4xl">
                    For further information, please contact using the form or
                    the following links
                </p>
            </div>
            <!-- email and number div container -->
            <div class="flex flex-col space-y-6 text-text">
                <div class="inline-flex items-center space-x-2">
                    <fa-icon
                        [icon]="faPhone"
                        class="text-2xl md:text-4xl"
                    ></fa-icon>
                    <span class="text-2xl md:text-4xl">+254 703 801 725</span>
                </div>
                <div class="inline-flex items-center space-x-2">
                    <fa-icon
                        [icon]="faEnvelope"
                        class="text-2xl md:text-4xl"
                    ></fa-icon>
                    <h1 class="text-2xl md:text-4xl"
                        >gmikekamau@gmail.com</h1
                    >
                </div>
            </div>
            <!-- icon div -->
            <div class="flex space-x-6 text-3xl text-text md:text-6xl">
                <a
                    href="https://www.linkedin.com/in/michael-gichuhi/"
                    class="transition duration-500 ease-in-out hover:text-primary"
                    ><fa-icon [icon]="faLinkedin"></fa-icon
                ></a>
                <a
                    href="https://github.com/Jmike-dev"
                    class="transition duration-500 ease-in-out hover:text-primary"
                    ><fa-icon [icon]="faGithub"></fa-icon
                ></a>
            </div>
        </div>
        <!-- form div container-->
        <div class=" text-2xl md:text-3xl mx-auto w-5/6 rounded-xl bg-primary p-8 shadow-lg md:w-2/4">
            <!-- form -->
            <form
                action=""
                class="flex flex-col space-y-4"
                [formGroup]="form"
                (submit)="sendEmail($event)"
            >
                <div class="flex flex-col">
                    <label for="" class=" text-text"> Your Name</label>
                    <input
                        formControlName="client_name"
                        type="text"
                        class="mt-2 rounded-md bg-text px-4 py-2 text-background outline-none ring-accent focus:ring-2 focus:ring-accent"
                    />
                </div>
                <div class="flex flex-col">
                    <label for="" class=" text-cyan-100">
                        your Email</label
                    >
                    <input
                        formControlName="client_email"
                        type="email"
                        class="mt-2 rounded-md bg-text px-4 py-2 text-background outline-none ring-accent focus:ring-2 focus:ring-accent"
                    />
                </div>
                <div class="flex flex-col">
                    <label for="" class=" text-cyan-100"> message</label>
                    <textarea
                        formControlName="client_message"
                        type="text"
                        class="mt-2 rounded-md bg-text px-4 py-2 text-background outline-none ring-accent focus:ring-2 focus:ring-accent"
                    ></textarea>
                </div>

                <button
                    type="submit"
                    class="group relative inline-flex items-center justify-center overflow-hidden rounded-full bg-background p-4 px-6 py-3 font-medium text-text shadow-md transition duration-300 ease-out"
                >
                    <span
                        class="ease absolute inset-0 flex h-full w-full -translate-x-full items-center justify-center bg-accent text-primary duration-300 group-hover:translate-x-0"
                    >
                        <fa-icon
                            [icon]="faEnvelope"
                            class="text-xl md:text-2xl"
                        ></fa-icon>
                    </span>
                    <span
                        class="ease absolute flex h-full w-full transform items-center justify-center text-text transition-all duration-300 group-hover:translate-x-full"
                        >Send</span
                    >
                    <span class="invisible relative">Send</span>
                </button>
            </form>
        </div>
    </div>
</div>
