<div
    class="flex w-full content-center justify-center bg-background font-spartan"
>
    <!-- info div -->
    <div
        class="m-4 flex flex-col rounded-lg p-6 md:w-5/6 md:flex-row"
        @fadeInAnimation
    >
        <!-- image div -->
        <div class="w-4/5 sm:w-3/5 md:w-2/5">
            <img
                src="../../../../assets/images/image2.jpg"
                class="rounded-full p-2 sm:h-4/6"
            />
        </div>
        <!-- text div -->
        <div
            class="my-auto h-5/6 cursor-pointer rounded-3xl bg-primary bg-opacity-10 p-4 text-justify text-2xl shadow-xl sm:h-2/6 md:h-3/6 md:w-3/5 md:text-3xl"
        >
            <h1 class="text-text sm:mt-16">
                Hey 👋 there am
                <span class="text-3xl font-extrabold text-accent md:text-5xl">
                    Michael Gichuhi  a</span
                ><span class="text-3xl font-extrabold text-accent md:text-5xl">
                    Frontend Software Engineer</span
                >.Am passionate about good UI ( user interface) and (user
                experience).When it comes to collaboration team work and
                communication are vital. I spend my days keeping up with the new
                changes is software and practicing to sharpen my skills.
            </h1>
            <!-- contact button -->
            <a
                routerLink="/contact"
                class="group relative mt-3 inline-flex items-center overflow-hidden rounded-xl bg-primary px-12 py-3 text-2xl font-medium text-text hover:bg-accent md:text-4xl"
            >
                <span
                    class="duration-400 ease absolute left-0 top-1/2 block h-0 w-full bg-accent opacity-100 transition-all group-hover:top-0 group-hover:h-full"
                ></span>
                <span
                    class="ease absolute right-0 flex h-10 w-10 translate-x-full transform items-center justify-start duration-300 group-hover:translate-x-0"
                >
                    <svg
                        class="h-5 w-5"
                        fill="none"
                        stroke="currentColor"
                        viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M14 5l7 7m0 0l-7 7m7-7H3"
                        ></path>
                    </svg>
                </span>
                <span class="relative">Contact me</span>
            </a>
        </div>
    </div>
</div>
<app-technology-table />

<app-contacts />
